@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-style: none;
    list-style: none;
    font-family: 'Noto Sans';
}

@media only screen and (max-width: 768px) {
    /* 768px 이하일 때 css 코드 작성: 모바일용 */

    #swich_body {
        width: 100%;
        height: auto;
        min-height: 100%;
        position: relative;
        padding-bottom: 126px;
    }

    header {
        width: 100%;
        height: 232px;
    }

    #toplogo {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }

    #logo {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #logo_img {
        width: 300px;
        height: 100px;
        display: inline-block;
    }

    #logo_img img {
        float: left;
    }

    #logo_img h1 {
        padding: 20px;
    }

    #login_button {
        width: 90%;
        height: 40px;
        background-color: lightgreen;
        border-radius: 20px 20px 20px 20px;
        float: right;
        margin-top: 20px;
        border: 1px solid lightgreen;
        text-decoration: lightgreen;
        font-size: 15pt;
        color: gray;
    }

    #login_button:hover {
        background-color: white;
        color: #333;
    }
    
    #topheader {
        display: none;
    }

    #underheader {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: space-between;
        margin: 0 auto; */
        background-color: lightgray;
    }

    #search {
        width: 200px;
        height: 30px;
        display: flex;
        align-items: center;
    }

    .s_box {
        margin-right: 10px;
    }

    #small {
        z-index: 5;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #navb {
        width: 100%;
        z-index: 10;
        background-color: lightgray;
    }


    #navb a {
        padding: 15px;
        text-decoration: none;
        display: block;
        
    }

    #navb a:hover {
        background-color: #eee;
        color: #666;
        text-decoration: none;
        display: block;
    }

    #nava {
        display: none;
    }

    #navb {
        display: none;
    }

    #menu {
        cursor: pointer;
    }


    footer {
        width: 100%;
        height: 126px;
        background-color: black;
        position: absolute;
        bottom: 0;
    }

    #under {
        width: 100%;
        height: 100px;
        color: white;
        text-align: center;
        margin: 0 auto;
    }

    .under_text {
        padding: 30px 30px 30px 30px;
    }
}

@media only screen and (min-width: 768px)and (max-width:1200px) {
    /* 1200px ~ 768px일 때 css 코드 작성: 태블릿용 */

    header {
        width: 100%;
        height: 232px;
    }

    #toplogo {
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }


    #logo {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #logo_img {
        width: 300px;
        height: 100px;
        display: inline-block;
    }

    #logo_img img {
        float: left;
    }

    #logo_img h1 {
        padding: 20px;
    }

    #login_button {
        width: 250px;
        height: 50px;
        background-color: lightgreen;
        border-radius: 20px 20px 20px 20px;
        float: right;
        margin-top: 20px;
        border: 1px solid lightgreen;
        text-decoration: lightgreen;
        font-size: 15pt;
        color: gray;
    }

    #login_button:hover {
        background-color: white;
        color: #333;
    }

    #swich_body {
        width: 100%;
        height: auto;
        margin: 0 auto;
        min-height: 100%;
        position: relative;
        padding-bottom: 126px;
    }

    #topheader {
        display: none;
    }

    #underheader {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: space-between;
        margin: 0 auto; */
        background-color: lightgray;
    }

    #search {
        width: 200px;
        height: 30px;
        display: flex;
        align-items: center;
    }

    .s_box {
        margin-right: 10px;
    }

    #small {
        z-index: 5;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #navb {
        width: 100%;
        z-index: 10;
        background-color: lightgray;
    }


    #navb a {
        padding: 15px;
        text-decoration: none;
        display: block;
        
    }

    #navb a:hover {
        background-color: #eee;
        color: #666;
        text-decoration: none;
        display: block;
    }

    #nava {
        display: none;
    }

    #navb {
        display: none;
    }

    #menu {
        cursor: pointer;
    }

    footer {
        width: 100%;
        height: 126px;
        background-color: black;
        position: absolute;
        bottom: 0;
    }

    #under {
        width: 100%;
        height: 100px;
        color: white;
        text-align: center;
        margin: 0 auto;
        padding: 10px 10px 10px 10px;
    }

    .under_text {
        padding: 30px 30px 30px 30px;
    }
}

@media only screen and (min-width: 1200px) {
    /*1200px 이상일 때 css 코드 작성: pc용*/

    header {
        width: 100%;
        height: 150px;
    }

    #toplogo {
        width: 1100px;
        ;
        height: 100px;
        margin: 0 auto;
    }

    #logo {
        width: 1100px;
        height: 100px;
    }

    #logo_img {
        width: 500px;
        height: 100px;
        display: inline-block;
    }

    #logo_img img {
        float: left;
        padding: 0px 0px 0px 30px;
    }

    #logo_img h1 {
        padding: 20px;
    }

    #login_button {
        width: 250px;
        height: 50px;
        background-color: lightgreen;
        border-radius: 20px 20px 20px 20px;
        float: right;
        margin-top: 20px;
        border: 1px solid lightgreen;
        text-decoration: lightgreen;
        font-size: 15pt;
        color: gray;
    }

    #login_button:hover {
        background-color: white;
        color: #333;
    }

    #swich_body {
        width: 100%;
        height: auto;
        margin: 0 auto;
        min-height: 100%;
        position: relative;
        padding-bottom: 126px;
    }

    #topheader {
        width: 100%;
        height: 50px;
        background-color: black;
        position: relative;
        margin: 0 auto;
    }

    #nava {
        width: 1100px;
        height: 50px;
        margin: 0 auto;
    }

    #nava ul {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    #nava ul a {
        padding: 11px;
        color: white;
        font-family: "SBAggroB";
        font-size: 18px;
        text-decoration: none;
    }

    #nava ul a:hover {
        color: white;
        border-bottom: 4px solid currentColor;
        text-decoration: none;
    }

    #search {
        width: 30%;
        height: 30px;
        float: right;
        top: 12px;
        left: 1250px;
        position: absolute;
        color: white;
    }

    #small {
        display: none;
    }

    footer {
        width: 100%;
        height: 126px;
        background-color: black;
        position: absolute;
        bottom: 0;
    }

    #under {
        width: 100%;
        height: 100px;
        color: white;
        text-align: center;
        margin: 0 auto;
        padding: 10px 10px 10px 10px;
    }

    .under_text {
        padding: 30px 30px 30px 30px;
    }

}