
        @charset "UTF-8";
        
        * {margin: 0; padding: 0; font-style: none; list-style: none;}
        @media only screen and (max-width: 768px){
            /* 768px 이하일 때 css 코드 작성: 모바일용 */
            * {margin: 0; padding: 0; font-style: none; list-style: none;}
            #swich_body {width: 100%; height: auto;   min-height:100%; position:relative; padding-bottom:126px;}
            header{width: 100%; height: 300px;}
            #toplogo {width: 100%; height: 200px; margin: 0 auto; }
            #logo {width: 100%; height: 200px;  }
            #logo_img {width: 300px; height: 100px; display: inline-block;}
            #logo_img img {float: left;}
            #logo_img h1 {padding: 20px;}
            #loginForm {width: 100%; height: 100px; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;} 
    
            
            #underheader {width: 100%; height: 230px; background-color: black;}
            #nav {width: 100%; height: 200px; margin: 0 auto; }
            #nav ul{width: 100%; height: 200px;  display: flex; flex-direction: column; align-content: center; justify-content: space-between; flex-wrap: wrap; padding-top: 20px;}
            #nav ul a{ color:white; font-family: "SBAggroB"; font-size: 18px; text-decoration: none;}
            #nav ul a:hover{color: white; border-bottom: 4px solid currentColor; text-decoration: none;}
    
            footer { width: 100%; height: 126px;  background-color: black; position:absolute;  bottom:0;} 
            #under { width:100%; height: 100px; color: white; text-align: center; margin: 0 auto;  }
            #under img {width: 150px; height: 50px; float: left;}
        }
        
        @media only screen and (min-width: 768px)and (max-width:1200px){
            /* 1200px ~ 768px일 때 css 코드 작성: 태블릿용 */
            * {margin: 0; padding: 0; font-style: none; list-style: none;}
            header{width: 100%; height: 300px;}
            #toplogo {width: 100%; height: 200px; margin: 0 auto; }
            #logo {width: 100%; height: 200px;  }
            #logo_img {width: 300px; height: 100px; display: inline-block;}
            #logo_img img {float: left;}
            #logo_img h1 {padding: 20px;}
            #loginForm {width: 100%; height: 100px; float: right; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;} 
    
            
            #underheader {width: 100%; height: 230px; background-color: black;}
            #nav {width: 100%; height: 200px; margin: 0 auto; }
            #nav ul{width: 100%; height: 200px;  display: flex; align-content: center; padding-top: 40px; justify-content: space-between; flex-wrap: wrap; padding-top: 20px;}
            #nav ul a{ color:white; font-family: "SBAggroB"; font-size: 18px; text-decoration: none;}
            #nav ul a:hover{color: white; border-bottom: 4px solid currentColor; text-decoration: none;}
    
            footer { width: 100%; height: 126px;  background-color: black; position:absolute;  bottom:0;} 
            #under { width:1140px; height: 100px; color: white; text-align: center; margin: 0 auto; padding: 10px 10px 10px 10px; }
            #under img {width: 150px; height: 50px; float: left;}
        }
        
        @media only screen and (min-width: 1200px){
            /*1200px 이상일 때 css 코드 작성: pc용*/
            * {margin: 0; padding: 0; font-style: none; list-style: none;}
            header{width: 1920px; height: 150px;}
            #toplogo {width: 1100px;; height: 100px; margin: 0 auto; }
            #logo {width: 1100px; height: 100px;  }
            #logo_img {width: 500px; height: 100px; display: inline-block;}
            #logo_img img {float: left; padding: 0px 0px 0px 30px;}
            #logo_img h1 {padding: 20px;}
            #loginForm {width: 500px; height: 100px; float: right; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;} 
            #swich_body {width: 1920px; height: auto; margin: 0 auto;  min-height:100%; position:relative; padding-bottom:126px;}
            
            #underheader {width: 100%; height: 50px; background-color: black; position: relative;}
            #nav {width: 700px; height: 50px; margin: 0 auto;}
            #nav ul{width: 100%; height: 50px;  display: flex; align-items: center; justify-content: flex-start;  }
            #nav ul a{padding: 11px; color:white; font-family: "SBAggroB"; font-size: 18px; text-decoration: none;}
            #nav ul a:hover{color: white; border-bottom: 4px solid currentColor; text-decoration: none;}
            #search { width: 400px; height: 30px; float: right; top: 12px; left: 1300px; position: absolute;}
    
            footer { width: 100%; height: 126px;  background-color: black; position:absolute;  bottom:0;} 
            #under { width:1140px; height: 100px; color: white; text-align: center; margin: 0 auto; padding: 10px 10px 10px 10px; }
            #under img {width: 150px; height: 50px; float: left;}
        }


        
        
      